In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
plt.rcParams['font.family']='AppleGothic'
plt.rcParams['axes.unicode_minus']=False

# 데이터 수집 및 전처리
- 행정안전부<br>
    https://www.mois.go.kr/<br>
    정책자료>주민등록인구통계<br>
    전체읍명동 현황
<br><br> 
- 바로가기<br>
    https://jumin.mois.go.kr/index.jsp
    
## 데이터프레임 생성 및 전처리
### 데이터프레임 생성

In [3]:
df = pd.read_csv('../data/202110_202110_주민등록인구및세대현황_월간.csv', encoding='cp949')
df

,행정구역,2021년10월_총인구수,2021년10월_세대수,2021년10월_세대당 인구,2021년10월_남자 인구수,2021년10월_여자 인구수,2021년10월_남여 비율
0,서울특별시 (1100000000),"9,532,428","4,422,587",2.16,"4,630,630","4,901,798",0.94
1,서울특별시 종로구 (1111000000),"145,346","73,613",1.97,"70,552","74,794",0.94
2,서울특별시 종로구 청운효자동(1111051500),"12,011","5,252",2.29,"5,553","6,458",0.86
3,서울특별시 종로구 사직동(1111053000),"9,367","4,686",2.00,"4,206","5,161",0.81
4,서울특별시 종로구 삼청동(1111054000),"2,478","1,251",1.98,"1,178","1,300",0.91
...,...,...,...,...,...,...,...
3847,제주특별자치도 서귀포시 서홍동(5013058000),"10,999","4,517",2.44,"5,435","5,564",0.98
3848,제주특별자치도 서귀포시 대륜동(5013059000),"15,216","6,760",2.25,"7,691","7,525",1.02
3849,제주특별자치도 서귀포시 대천동(5013060000),"13,900","6,474",2.15,"7,048","6,852",1.03
3850,제주특별자치도 서귀포시 중문동(5013061000),"11,886","5,731",2.07,"6,057","5,829",1.04
3851,제주특별자치도 서귀포시 예래동(5013062000),"3,916","2,011",1.95,"2,004","1,912",1.05

### 컬럼명 변경

In [4]:
df.columns=['행정구역','총인구수','세대수','세대당 인구','남자 인구수','여자 인구수','남여 비율']

In [5]:
df.head(1)

,행정구역,총인구수,세대수,세대당 인구,남자 인구수,여자 인구수,남여 비율
0,서울특별시 (1100000000),"9,532,428","4,422,587",2.16,"4,630,630","4,901,798",0.94

### 자료형 확인,변환

In [6]:
# 자료형 확인
df.dtypes

행정구역       object
총인구수       object
세대수        object
세대당 인구    float64
남자 인구수     object
여자 인구수     object
남여 비율     float64
dtype: object

In [7]:
# 숫자형으로 변환
df['총인구수']=df['총인구수'].str.replace(',','').astype('int64')

In [8]:
df['세대수']=df['세대수'].str.replace(',','').astype('int64')

In [10]:
df['남자 인구수']=df['남자 인구수'].str.replace(',','').astype('int64')

In [11]:
df['여자 인구수']=df['여자 인구수'].str.replace(',','').astype('int64')

In [12]:
df.dtypes

행정구역       object
총인구수        int64
세대수         int64
세대당 인구    float64
남자 인구수      int64
여자 인구수      int64
남여 비율     float64
dtype: object

## 시도별 서브셋 생성
- `컬럼.str.contains(문자열)` : 문자열이 포함된 데이터 추출

In [17]:
df_sido = df[df['행정구역'].str.contains('00000000')].copy()
df_sido

,행정구역,총인구수,세대수,세대당 인구,남자 인구수,여자 인구수,남여 비율
0,서울특별시 (1100000000),9532428,4422587,2.16,4630630,4901798,0.94
452,부산광역시 (2600000000),3356311,1541975,2.18,1642368,1713943,0.96
674,대구광역시 (2700000000),2390721,1062993,2.25,1178486,1212235,0.97
826,인천광역시 (2800000000),2945009,1294158,2.28,1474536,1470473,1.00
999,광주광역시 (2900000000),1442454,643841,2.24,713483,728971,0.98
1102,대전광역시 (3000000000),1454228,662615,2.19,725742,728486,1.00
1187,울산광역시 (3100000000),1122566,481811,2.33,576723,545843,1.06
1249,세종특별자치시 (3600000000),368276,151639,2.43,183879,184397,1.00
1273,경기도 (4100000000),13549577,5820524,2.33,6820025,6729552,1.01
1882,강원도 (4200000000),1537717,743798,2.07,774008,763709,1.01
2095,충청북도 (4300000000),1596948,757980,2.11,810093,786855,1.03
2265,충청남도 (4400000000),2118977,999286,2.12,1083133,1035844,1.05
2492,전라북도 (4500000000),1789770,847406,2.11,890378,899392,0.99
2754,전라남도 (4600000000),1834653,901203,2.04,923037,911616,1.01
3100,경상북도 (4700000000),2627925,1273579,2.06,1324128,1303797,1.02
3469,경상남도 (4800000000),3318161,1503397,2.21,1670394,1647767,1.01
3806,제주특별자치도 (5000000000),676569,306741,2.21,339195,337374,1.01

- 시도명 컬럼 추가

In [20]:
df_sido['시도명']=df_sido['행정구역'].str.split(' ').str[0]

In [21]:
df_sido.head(3)

,행정구역,총인구수,세대수,세대당 인구,남자 인구수,여자 인구수,남여 비율,시도명
0,서울특별시 (1100000000),9532428,4422587,2.16,4630630,4901798,0.94,서울특별시
452,부산광역시 (2600000000),3356311,1541975,2.18,1642368,1713943,0.96,부산광역시
674,대구광역시 (2700000000),2390721,1062993,2.25,1178486,1212235,0.97,대구광역시